---
global:
  domain:
    prefix: staging
app:
  image:
    tag: "4.6.1-rc.1-app"
assets:
  image:
    tag: "4.6.1-rc.1-assets"
ingress:
  certManager:
    issuer: "letsencrypt-staging-cloudflare"
    acme:
      server: "https://acme-staging-v02.api.letsencrypt.org/directory"
storage:
  cephfs:
    volumes:
      locales:
        path: "/volumes/_nogroup/60983976-c3fb-49a0-84c1-309c925110f4"
      uploads:
        path: "/volumes/_nogroup/6a4a8728-6ee3-4151-b24a-eb2b84aef469"
config:
  environment:
    rollbarEnv: arbutus-staging
